name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.9"

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: |
          if [ -d "test" ]; then
            flutter test
          else
            echo "No tests found"
          fi
      - name: Build Apk
        run: flutter build apk
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: gram_connect_apk
          path: build/app/outputs/flutter-apk/app-release.apk

